
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Catamaran:wght@700&family=Dancing+Script&family=Montserrat&family=Poppins:ital,wght@0,500;1,400&family=Roboto:wght@700&family=Xanh+Mono:ital@1&display=swap');
body{
    background: {
        image: url(../img/nattu-adnan-unsplash.jpg);
        background-attachment: fixed;
        position: center center;
        size: cover;
    }   
    height: 100vh;
   
#home{
   
    font: {
        size: large;
        family:'Catamaran', sans-serif;
    }
   
  text-align: center;
    .item{
        background-color: rgba(245, 245, 245, 0.6);
    }
    .choose{
        border: none;
        width: 100%;
        background-image:linear-gradient(to right,rgb(3, 157, 184),rgb(0, 25, 29));
    }
    
    .start,.next{
        cursor: pointer;
        background: linear-gradient(180deg,#fff,#ffcc91);
        border: 2px solid #d38558;
        box-shadow: -5px 5px  rgba(0, 0, 0,0.25);
    }
    .correct{
        cursor: pointer;
        background:green;
        color: white;
    }
    .incorrect{
        cursor: pointer;
        background:red;
        color: white;
    }
}

@media screen and (max-width:992px){
    body{
        background-attachment: fixed;
        height: 100vh;
    }
}
}

